            <footer>
                <p>This project was started by <a href="https://github.com/avstudnitz" target="_blank">Andreas von Studnitz</a>
                    in 2011 and is maintained by a 
                    <a href="https://github.com/avstudnitz/AvS_FastSimpleImport/graphs/contributors" target="_blank">team</a>
                    of Magento developers mainly from Germany and the Netherlands.
                </p>
            
                <p>
                    <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
                </p>
            </footer>
        </div>
        <script src="javascripts/scale.fix.js"></script>
        
    </body>
</html>