<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>AvS FastSimpleImport by avstudnitz</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">

    <header>
        <h1>AvS FastSimpleImport</h1>

        <p>Wrapper for Magento ImportExport functionality, which imports products and customers from arrays</p>

        <p class="view"><a href="https://github.com/avstudnitz/AvS_FastSimpleImport">View the Project on GitHub
            <small>avstudnitz/AvS_FastSimpleImport</small>
        </a></p>


        <ul>
            <li><a href="https://github.com/avstudnitz/AvS_FastSimpleImport/zipball/master">Download <strong>ZIP
                File</strong></a></li>
            <li><a href="https://github.com/avstudnitz/AvS_FastSimpleImport/tarball/master">Download <strong>TAR
                Ball</strong></a></li>
            <li><a href="https://github.com/avstudnitz/AvS_FastSimpleImport">View On <strong>GitHub</strong></a></li>
        </ul>

        <p><a href="index.html">Home</a></p>

        <p><a href="examples.html">Examples</a></p>

        <p><a href="products.html">Product Import</a></p>

    </header>
